[submodule "awesome-wm-widgets"]
	path = awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule "json"]
	path = json
	url = https://github.com/rxi/json.lua
[submodule "nice"]
	path = nice
	url = https://github.com/raven2cz/awesome-wm-nice.git
[submodule "lain"]
	path = lain
	url = https://github.com/lcpz/lain.git
